@import '../../styles/variables.scss';

.item-cards--rendered {
  display: grid;
  grid-auto-flow: dense;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 180px), 1fr));
  grid-auto-rows: 120px auto auto;
  container-type: inline-size;
}
