$col-prim-500: #4ae089;

$col-bright: #ffffff;
$col-grey-100: #f9f9f9;
$col-grey-200: #f5f5f5;
$col-grey-300: #eaeaea;
$col-grey-400: #dddddd;
$col-grey-500: #bfbfbf;
$col-grey-600: #a4a4a4;
$col-grey-700: #777777;
$col-grey-800: #515151;
$col-grey-900: #222222;
