$col-bright: #ffffff;

$col-prim-100: #f2f7f6;
$col-prim-200: #d8e8e4;
$col-prim-300: #b0d0ca;
$col-prim-400: #96c1b8;
$col-prim-500: #7cb1a6;
$col-prim-600: #648f86;
$col-prim-700: #4c6d66;
$col-prim-800: #283936;
$col-prim-900: #101716;

$col-prim2-50: #f8f9fa;
$col-prim2-100: #e7ebed;
$col-prim2-200: #c6ced3;
$col-prim2-300: #b5c0c6;
$col-prim2-400: #94a4ad;
$col-prim2-500: #516b79;
$col-prim2-600: #415661;
$col-prim2-700: #314049;
$col-prim2-800: #202b30;
$col-prim2-900: #101518;

$col-sec-100: #fce4d5;
$col-sec-200: #fbd9c4;
$col-sec-300: #f9c4a3;
$col-sec-400: #f7ae81;
$col-sec-500: #f59960;
$col-sec-600: #f3833e;
$col-sec-700: #da7333;
$col-sec-800: #a9521d;
$col-sec-900: #833a0d;

$col-grey-100: #f9f9f9;
$col-grey-200: #f5f5f5;
$col-grey-300: #eaeaea;
$col-grey-400: #dddddd;
$col-grey-500: #bfbfbf;
$col-grey-600: #a4a4a4;
$col-grey-700: #777777;
$col-grey-700-trans-80: #777777a8;
$col-grey-800: #515151;
$col-grey-900: #222222;

$shadow-500: #4a4a4a61;
