$fam-text: 'Ubuntu';
$fam-headline: 'Ubuntu';

$text-normal: 300 1rem $fam-text;
$text-small: 300 0.8rem $fam-text;

$text-h1: 500 1.8rem $fam-headline;
$text-h2: 500 1.3rem $fam-headline;
$text-h3: 500 1.05rem $fam-headline;
